.banner {
    position: relative;
    min-height: 450px;
    background-color: #1B701B;
    color: #ffffff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}